:root {
  --blue: #2196f3;
  --grey: #757575;
  --primery-text-color: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}
.colortext {
  color: var(--blue);
}

.logo {
  text-transform: capitalize;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--primery-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.site-nav .link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}

.list {
  list-style: none;
}

.contacts {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--blue);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  background-color: var(--blue);
  color: #ffffff;
}

.button-hero {
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
}
.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-photo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}
.section .text {
  color: var(--grey);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.desc {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.71em;
}

.photo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: #ffffff;
  text-transform: capitalize;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.address-footer {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer {
  width: 1200px;
  background-color: #2f303a;
}
